# hikari is the static-typed Python API for writing Discord bots
hikari
# To handle the AI part of the Bot
google-genai
# To manage configuration files
platformdirs
# To make downloading stuff easier
requests
